.wrap{
    background: red;
    width: 900px ;
    margin: 20px auto;
}
 
/*bagian header*/
.wrap .header{
    background: red;
    /*height: 50px;*/
    padding: 2px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .nav{
    background: pink;
}
 
.wrap .nav ul{
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
    background: pink;
    overflow: hidden;
}
 
.wrap .nav ul li{
    position: relative;
    color: white;
    display: block;
    float: left;
    list-style-type: none;
    padding: 10px;
}
/*akhir menu*/
 
.clear{
    clear: both;
}
 
.badan{
    height: 450px ;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
    position: relative;
    display: block;
    background: yellow;
    font-family: 'Comic Sans MS', sans-serif;
    float: left;    
    width: 25%;
    height: 100%;
}
.wrap .badan .sidebar a:hover{
    color: red;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
    position: relative;
    background: green;
    float: left;
    height: 100%;
    width: 75%; 
}
 
.wrap .footer{
   position: relative;
   background: blue;
   color: white;
   width: 100% auto;
   height: 100%;
   padding: 9px;
}